@charset "utf-8";
/* リセット */
html,
body,
header,
footer,
main,
section,
h1,
h2,
h3,
ul,
li,
p,
dl {
    margin: 0;
    padding: 0;
    line-height: 1;
    color: #ffff;
    font-family: "A1 Mincho", "游明朝", YuMincho, "Hiragino Mincho ProN W3",
        "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝",
        "ＭＳ 明朝", serif;
    font-feature-settings: "palt";
}

a {
    /*下線を消す*/
    text-decoration: none;
    /*色を消す*/
    color: inherit;
    transition: 0.3s;
}

a:hover {
    opacity: 0.5;
}

ul {
    /*左の「・」を消す*/
    list-style: none;
}

img {
    max-width: 100%;
    vertical-align: bottom;
    border: none;
}
.header_wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 4.6% 0 2.51%;
    position: absolute;
    z-index: 100;
    top: 0;
    left: 0;
    width: 100%;
    box-sizing: border-box;
}
/* ※ヘッダー */
body {
    background-color: #1d1d1d;
}

.background {
    background-image: url("../images/background@2x.png");
    z-index: 100;
}
.header_logo {
    width: 88px;
}

.pc_nav ul {
    display: flex;
}
.pc_nav li {
    width: 80px;
    margin-left: 90px;
    text-align: center;
    font-size: 20px;
    color: #ffff;
}
.hitokoto {
    position: absolute;
    top: 0;
    left: 0;
    max-width: 33.5%;
    margin: -10px;
}

/* ※メイン */
.tree {
    padding-top: 0px;
    margin: 0 auto;
    max-width: 1250px;
}
.who {
    writing-mode: vertical-rl;
    font-size: 20px;
    position: absolute;
    top: 230px;
    right: 100px;
    color: #ffff;
}
.v_line {
    margin-left: 100px;
    width: 2px;
    height: 118px;
    position: absolute;
    top: 330px;
    right: 111px;
    background-color: #ffff;
}
.name {
    width: 37.5%;
    margin-right: 0;
    margin-left: auto;
    padding-right: 20px;
    margin-top: -100px;
}
/* .name_area {
    padding-right: 20px;
} */

/* ※about */
.about {
    padding-top: 60px;
    padding-bottom: 60px;
    width: 57.29%;
    margin: 0 auto;
}
.about_images {
    width: 173px;
    padding-bottom: 45px;
}
.about_profile {
    display: flex;
    justify-content: space-between;
}
.profile {
    width: 50%;
}
.about_me {
    font-size: 20px;
    font-family: "游ゴシック体", YuGothic, "游ゴシック Medium",
        "Yu Gothic Medium", "游ゴシック", "Yu Gothic", sans-serif;
    padding-top: 45px;
    line-height: 1.5em;
}
.about_myimages {
    width: 490px;
    padding-left: 40px;
}
.line {
    width: 243px;
    border: 2px #ffff solid;
    margin: 0;
}
/* ※can */
.can {
    /* background-color: antiquewhite; */
    background-image: url(../images/CAN_background@2x.png);
    width: 100%;
}
.can_width {
    width: 57.29%;
    margin: 0 auto;
}
.can_images {
    max-width: 104px;
    padding-bottom: 45px;
    padding-top: 30px;
}
.can_line {
    width: 243px;
    border: 2px #ffff solid;
    margin: 0;
}
.can_width_detail {
    padding-top: 65px;
    padding-bottom: 50px;
    margin: 0 auto;
    width: 64.9%;
}

.can_text {
    display: flex;
    justify-content: space-between;
    text-align: center;
}
.can_detail {
    background-color: #1d1d1d;
    margin-right: 3.3%;
    width: 100%;
}
.can_detail:last-child {
    margin-right: 0;
}
.can_detail_images {
    width: 145px;
    margin: 0 auto;
    padding-top: 15px;
}
h3 {
    padding-top: 50px;
    padding-bottom: 40px;
    font-size: 30px;
    text-align: center;
}
.can_detail_text {
    font-size: 18px;
    font-family: "游ゴシック体", YuGothic, "游ゴシック Medium",
        "Yu Gothic Medium", "游ゴシック", "Yu Gothic", sans-serif;
    width: 62.7%;
    padding-bottom: 20px;
    text-align: left;
    margin: 0 auto;
    line-height: 1.5;
}
.can_detail_images_codhing {
    width: 190px;
    padding-top: 15px;
    margin: 0 auto;
}
.can_detail_images_design {
    width: 200px;
    padding-top: 15px;
    margin: 0 auto;
}

/* work */
.work_width {
    width: 57.29%;
    margin: 0 auto;
}
.work_images {
    width: 16.1%;
    padding-top: 30px;
    padding-bottom: 45px;
}
.work_detail {
    display: flex;
    margin: 0 auto;
    width: 100%;
    align-items: center;
    padding-bottom: 30px;
}

.work_images_work {
    width: 45.3%;
}

.work_text {
    width: 30%;
    margin: 0 auto;
}
.soft_name {
    background-color: #333333;
    border-radius: 12px;
    width: 41.3%;
    height: 35px;
    margin: 0 auto;
    display: flex;
    align-items: center;
}
.soft {
    color: #cce355;
    font-size: 20px;
    margin: 0 auto;
    /* padding-top: px; */
    text-align: center;
}
.illustrator_detail {
    background-color: #333333;
    display: flex;
    align-items: center;
    margin-top: -17px;
}

.perusona,
.illustrator_text {
    width: 50%;
}
.perusona {
    font-size: 20px;
    text-align: center;
    margin: 0 auto;
}
.v_line_fix {
    width: 0.75px;
    height: 30px;
    background-color: #ffff;
}
.illustrator_text {
    font-size: 12px;
    padding: 15px;
    line-height: 1.7;
    padding-top: 20px;
}
/* .illustrator_detail {
    display: inline-block;
    vertical-align: middle;
} */

/* ※footer */
footer {
    width: 100%;
    /* background-color: #ffff !important; */
    background: linear-gradient(
        to bottom right,
        rgba(0, 0, 0, 0.5),
        rgba(128, 128, 128, 0.4) 50%,
        rgba(0, 0, 0, 0.5)
    ) !important;
}
.contact_width {
    width: 57.29%;
    margin: 0 auto;
    padding-top: 60px;
    padding-bottom: 50px;
}
.contact_images {
    width: 22%;
}

.contact_about {
    padding-top: 50px;
    display: flex;
    margin: 0 auto;
    width: 100%;
}
.contact_ {
    padding-right: 10px;
}
.contact_second {
    width: 70%;
    padding-right: 10px;
}
.contact_text,
.contact_text_mail {
    padding-top: 20px;
    font-size: 20px;
}

.contact_text_mail a {
    border-bottom: 1px solid #ffff;
}

.contact_text_mail a :hover {
    color: aqua;
}

.response {
    display: flex;
    align-items: center;
}
.contact_time {
    padding-top: 20px;
    text-align: left;
}
.response_time {
    display: flex;
    align-items: center;
}
.response_time:after {
    border-top: 1px solid;
    content: "";
    width: 3em;
    margin-right: 8px;
    margin-left: 8px;
}
.my_name {
    padding-bottom: 25px;
    font-size: 50px;
    text-align: center;
}
.time,
.response_time {
    font-size: 17px;
}

.sp_nav {
    display: none;
}
.sp_btn {
    display: none;
}

.img[src$="images/mobile_treee@2x.png"] {
    width: 100%;
}
.profile_mobile {
    display: none;
}
.work_mobile_detail {
    display: none;
}

.contact_width_mobile {
    display: none;
}

/* レスポンシブ */
@media screen and (max-width: 1024px) {
    .pc_nav {
        display: none;
    }

    .sp_btn {
        position: absolute;
        display: block;
        top: 10px;
        right: 10px;
        height: 30px;
        cursor: pointer;
        z-index: 100;
    }
    .sp_btn span {
        background-color: #ffff;
        width: 33px;
        height: 2px;
        display: block;
        position: relative;
        top: 10px;
        transition: 0.3s;
    }

    .sp_btn span::before,
    .sp_btn span::after {
        content: "";
        background-color: white;
        width: 33px;
        height: 2px;
        display: block;
        position: absolute;
        transition: 0.3s;
    }
    .sp_btn span::before {
        bottom: 10px;
    }
    .sp_btn span::after {
        top: 10px;
    }

    .open span {
        background-color: transparent;
    }

    .open span::before {
        bottom: 0px;
        transform: rotate(45deg);
    }
    .open span::after {
        top: 0px;
        transform: rotate(135deg);
    }
    .sp_nav {
        position: absolute;
        top: 0;
        left: 0;
        height: 100vh;
        background-color: rgba(000, 000, 000, 0.8);
        width: 100%;
    }
    .sp_nav ul {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .sp_nav li {
        text-align: center;
        font-weight: bold;
        font-size: 20px;
        padding: 50px;
        color: #ffff;
        font-family: "A1 Mincho", "游明朝", YuMincho, "Hiragino Mincho ProN W3",
            "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E",
            "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;
    }

    /* ※メインビジュアル */
    .header_logo {
        width: 4.5%;
    }
    .who {
        top: 10%;
        right: 3.5%;
        font-size: 3.2%;
    }
    .v_line {
        width: 0.265%;
        height: 5%;
        top: 13%;
        right: 4.5%;
    }
    .name {
        width: 50.4%;
    }
    /* ※about */
    .about {
        padding-top: 60px;
        padding-bottom: 60px;
        width: 61.8%;
        margin: 0 auto;
    }
    .about_images {
        width: 70px;
        padding-bottom: 5px;
        margin: 0 auto;
    }
    .about_profile {
        display: block;
    }
    .profile {
        width: 60%;
        margin: 0 auto;
    }
    .about_me {
        font-size: 12px;
        padding-top: 20px;
    }
    .about_myimages {
        display: none;
    }
    .line {
        margin: 0 auto;
        width: 50px;
        border: 1px #ffff solid;
    }
    .profile_mobile {
        display: block;
        width: 70%;
        margin: 0 auto;
        padding-top: 20px;
    }

    /* ※can */
    .can_width {
        width: 65.06%;
        margin: 0 auto;
    }
    .can_images {
        width: 70px;
        padding-bottom: 5px;
        margin: 0 auto;
    }
    .can_line {
        margin: 0 auto;
        width: 50px;
        border: 1px #ffff solid;
    }
    .can_width_detail {
        width: 65%;
    }

    .can_text {
        display: block;
    }
    .can_detail {
        width: 80%;
        display: inline-block;
        margin-bottom: 20px;
    }
    .can_detail_images {
        width: 33.1%;
        margin: 0 auto;
        padding-top: 15px;
    }
    h3 {
        padding-top: 20px;
        padding-bottom: 25px;
        font-size: 20px;
    }
    .can_detail_text {
        font-size: 12px;
        padding-bottom: 20px;
        width: 69.2%;
    }
    .can_detail_images_codhing {
        width: 33.1%;
        padding-top: 15px;
        margin: 0 auto;
    }
    .can_detail_images_design {
        width: 33.1%;
        padding-top: 15px;
        margin: 0 auto;
    }
    /* ※work */
    .work_width {
        width: 100%;
        margin: 0 auto;
    }
    .work_images {
        width: 70px;
        padding-bottom: 5px;
        margin: 0 auto;
    }
    .work_images_work {
        margin: 0 auto 0 0;
    }

    .work_text {
        width: 50%;
        margin: 0 0 0 auto;
    }
    .soft_name {
        background-color: #333333;
        border-radius: 12px;
        width: 41.3%;
        height: 35px;
        margin: 0 auto;
        display: flex;
        align-items: center;
    }
    .soft {
        font-size: 20px;
        /* padding-top: px; */
    }
    .illustrator_detail {
        display: flex;
        align-items: center;
        margin-top: -17px;
    }

    .perusona,
    .illustrator_text {
        width: 50%;
    }
    .perusona {
        font-size: 20px;
        text-align: center;
        margin: 0 auto;
    }
    .v_line_fix {
        width: 0.75px;
        height: 30px;
        background-color: #ffff;
    }
    .illustrator_text {
        font-size: 12px;
        padding: 15px;
        line-height: 1.7;
        padding-top: 20px;
    }
    .work_detail {
        display: none;
    }
    .work_mobile_detail {
        display: block;
    }
    .work_mobile {
        display: flex;
        align-items: center;
    }
    .illustrator_detail,
    .photshop {
        display: flex;
    }
    /* ※コンタクト */
    .contact_images {
        width: 70px;
        padding-bottom: 5px;
        margin: 0 auto;
        padding-top: 10px;
    }
    .contact_width {
        display: none;
    }
    .contact_main {
        text-align: center;
    }
    .contact_width_mobile {
        display: block;
    }
    .contact_text {
        font-size: 12px;
    }
    .mobile {
        margin: 0 auto;
        text-align: left;
        padding-top: 20px;
        width: 66.9%;
    }
    .mobile_contact_text {
        padding-top: 10px;
    }
    span {
        margin: 0 auto;
        vertical-align: middle;
    }
    .response_time {
        display: inline;
    }
    .time,
    .response_time,
    .response_time_mobile {
        font-size: 12px;
    }
    .my_name {
        padding-top: 30px;
        font-size: 0.04%;
    }
    .response_time:after {
        border-top: 1px solid;
        content: "";
        width: 3em;
        margin-right: 8px;
        margin-left: 8px;
    }
}
